*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  background-color: #E3E7F1;
}
.App-todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  min-height: 90vh;
  background-color: #C6CBEF;
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 1px 0px 5px 3px rgba(21, 22, 47, 0.102);
}