.CreateTodoButton {
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  background: #8dcf9c;
  border-radius: 3rem;
  border: none;
  padding: 0.3rem;
  font-weight: bold;
  color: #1F4E5F;
  font-size: 1.1rem;
  z-index: 1;
}
.CreateTodoButton:hover{
  transform: scale(1.1);
}

