.TodoItem {
    display: flex;
    justify-content: space-between;
    list-style-position: inside;
    list-style: none;
    padding: 1rem;
    background-color: #aacfd0;
    border-radius: 0.5rem;
    width: 99%;
}
.Icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: aliceblue;
}
.Icon-check--active {
    background-color: #25ac29;
}
.Icon-check {
    font-weight: 600;
}
.Icon-delete {
    color: #1f4e5f;
    font-weight: 600;
    background-color: rgb(252, 235, 233);
}
.Icon-delete:hover {
    background-color: red;
    color: aliceblue;
}
.TodoItem-p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1f4e5f;
    padding: 0 1rem;
}
.TodoItem-p--complete {
    text-decoration: line-through;
}